@use '../../mixins' as mix ;

#left-header{
    @include mix.dimension(auto);
    //border: 2px solid white;
    color: white;
    div{

        img{
            @include mix.dimension(32px);
        }
        span{
            vertical-align: bottom;
        }
    }
    
    ul{

        vertical-align: bottom;

        li{
        @include mix.display-position(inline-block);
        line-height: 1.2rem;
        padding: 0 5px;
        }
    }
}
