@use '../../mixins' as mix;

#side-menu{

    @include mix.dimension( auto , calc( 100vh - 56px ) ); 
    background-color: mix.$sidebarColor;
    .mini-menu{
        background-color: mix.$sidebarColor;
        transform: rotate(90deg);
        top: 6%;
        left: 40%;
        cursor: pointer;

    }
    
}

.menu-transition{
    left: -61px;
    z-index: 50;
    top: 50;
    transition: width 2s;

    &:hover{
        left: 0;
        
    }
}




/* User Hightlight */
.hightlight{
    @include mix.dimension(97%, auto);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    #avatar{
        @include mix.dimension(40px, 40px);

        img{
            @include mix.dimension(35px, 35px );
        }
    }
}

@media screen and (min-width: mix.$breakpoint-sm) {
    
    #side-menu{

        @include mix.dimension( 20%, calc( 100vh - 56px ) );
    }
}


