@use '../../mixins' as mix;

#side-menu{
    max-width: 250px;
    @include mix.dimension( auto , calc( 100% - 56px ) ); 
    min-height: calc( 100vh - 56px ) ;
    background-color: mix.$sidebarColor;
    
    .mini-menu{
        background-color: mix.$sidebarColor;
        transform: rotate(90deg);
        top: 6%;
        left: 40%;
        cursor: pointer;
    }
    
}

.menu-transition{
    left: -61px;
    z-index: 50;
    top: 50;
    transition: width 2s;

    &:hover{
        left: 0;
        
    }
}




/* User Hightlight */
.hightlight{
    @include mix.dimension(45px, auto);
    @include mix.box-shadow-mix( 0px 0px 6px mix.$highlight-color );
    margin: 8px auto 0;
    cursor: pointer;
    max-width: 245px;
    overflow: hidden;
    min-width: 54px;

    &:hover{
        transform: scale(1.02);
        @include mix.box-shadow-mix( 0px 0px 10px mix.$highlight-color );
    }
   
    #avatar{
        @include mix.dimension(40px, 40px);
        //padding: 2px;
        img{
            @include mix.dimension(35px, 35px );
        }
    }

    #user-game{
        max-width: 57%;
        padding: 0 2px;
    }

    #online-views{
        max-width: 36px;
        padding: 2px;
    }
    
    .online{
        font-size: 9px;
    }
}





@media screen and (min-width: mix.$breakpoint-md) {
    
    #side-menu{

        @include mix.dimension( 20%, calc( 100% - 56px ) );
    }

    .hightlight{
        @include mix.dimension(97%, auto);
    }
}


