/* Variables */ 
$windowWidth: 100vw;
$windowHeight: 100vh;

$headerColor: #2F2F2F;
$mainColor: #404040;
$sidebarColor: #353535;
$offlineColor: #ff3300;
$onlineColor: rgb(23, 238, 23);

$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1140px;
$breakpoint-xxl: 1320px;

$navbar-height: 50px;


@mixin dimension( $width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin display-position($display: block,$position: relative) {
    display: $display;
    position: $position;
}
